#alert,
body,
canvas,
h1 {
  background: black;
  margin: 5vh auto;
}

#alert,
h1 {
  color: red;
  font-family: 'Press Start 2P', monospace;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

canvas {
  border: 1px solid white;
  display: block;
}
