.alert,
body,
canvas,
h1 {
  margin: 5vh auto;
}

.alert,
h1 {
  color: red;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

body {
  background: black;
  font-family: 'Press Start 2P', monospace;
}

canvas {
  border: 1px solid white;
  display: block;
}

.control {
  color: dimgrey;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}
